# Service ports
QUERY_HOST_PORT=8083
VECTOR_HOST_PORT=8084
RANKING_HOST_PORT=8085

# Infra ports
SOLR_HOST_PORT=8983
REDIS_HOST_PORT=6380
OLLAMA_HOST_PORT=11434

# Feature toggles
ENABLE_SEMANTIC=true
ENABLE_RERANK=false
